/* 
    GLOBAL 
    font-family: 'Baskervville', serif;
    font-family: 'PT Mono', monospace;

    NAVIGATION
 */
html{
    font-family: 'PT Mono', monospace;
    line-height: 2;
    font-size: 13px;

}
 .p-one{
    margin-left: 40px;
    margin-top: 60px;
    margin-right: 30%;

 }

 .thought-one{
    font-family: 'Baskervville', serif;
    text-align: right;
    font-style: italic;
    position: absolute;
    top: 220px;
    left: 1300px;

 }

 .p-two{
    margin-left: 40px;
    margin-right: 30%;
 }

 .p-three{
    margin-left: 40px;
    margin-right: 20%;
    line-height: 3;
 }

 .p-three-one{
    padding-top: 40px;
    line-height: 3.5;
    letter-spacing: .5px;
    margin-left: 30px;

 }

 .thought-two{
    font-family: 'Baskervville', serif;
    font-style: italic;
    position: absolute;
    top: 420px;
    left: 1100px;
 }

.p-four{
    padding-top: 10px;
    line-height: 4;
    letter-spacing: 1px;
    margin-left: 100px;
}

.p-five{
    padding-top: 20px;
    text-align: center;
    letter-spacing: 1.5px;
}
.p-six{
    padding-top: 20px;
    margin-left: 400px;
    margin-right: 20%;
    letter-spacing: 2px;
    line-height: 5;
}

.thought-three{
    font-family: 'Baskervville', serif;
    font-style: italic;
    position: absolute;
    top: 700px;
    left: 1100px;
}

.p-seven{
    padding-top:400px;
    letter-spacing: 2px;

}

.p-eight{
    letter-spacing: 2px;
    padding-top: 400px;
    text-align: right;
    
}
/* background */
 .fade{ 
    background-image: linear-gradient(white, black);
    display: block;
    width: 100vw;
    height: 5000px;
 }
 .hoverbg{
     background: black;
     width: 100vw;
     height: 2100px;
 }
 .hover{
     background: white;
     width: 100vw;
     height: 3000px;
     visibility: hidden;
 }

 .blink{
     
     width: 00vw;
     height: 100vh;
     position: absolute;
     top: 1800px;
 }
 .blink:hover{
     animation: blink 2s infinite;
     
 }
 @keyframes blink {
    from {visibility: hidden;}
    to {background-color:white;}
  }